body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h2 {
  text-align: center;
  font-family: arial;
}

svg {
  border: 1px solid black;
  background-color: white;
  display: block;
  margin: auto;
}

.bar:hover {
  fill: LightSalmon;
}

.div-tooltip {
  position: absolute;
  text-align: center;
  width: 90px;
  height: 35px;
  padding: 2px;
  font: 14px arial;
  background-color: Orange;
  pointer-events: none;
  border-radius: 10%;
}

.text-axis {
  font-family: arial;
}